@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-primary-color: #23be0a;
  --color-skyblue-color: #59c6d2;
  --font-primary: "Playfair Display", serif;
  --font-work-sans: "Work Sans", sans-serif;
}

a.active {
  border: 1px solid #23be0a;
  color: #23be0a !important;
  border-color: #23be0a;
  border-radius: 8px;
}
